@media (min-width: 640px) {
    #menu-btn {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }
}@media (min-width: 768px) {
    /* Form on left, cards on right */
    .join-layout {
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: start;
    }
}