@media (min-width: 768px) {
    #menu {
        display: none; /* Hide hamburger icon */
    }

    nav {
        display: block !important;
        position: static;
        width: auto;
    }

    .navigation {
        display: flex;
        gap: 1rem;
    }

    .navigation li a {
        border-radius: 4px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1.5rem;
    }

    .courses-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}